@font-face {
    font-family: archivo;
    src: url('font/Archivo.ttf');
}

@font-face {
    font-family: archivo-italic;
    src: url('font/Archivo-Italic.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: archivo;
    }

body {
    background: #f1c762;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.header {
    margin-top: 0%;
    position: fixed;
    top: 0;
    max-height: 70px;
    width: 100%;
    background: #ffffff;
    color: #f1f1f1;
}

.container-kandidat {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    }

.card {
    background: whitesmoke;
    padding: 20px;
    border-radius: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    position: relative; 
    }

.card:hover {
    transform: translateY(-10px);
    }

.foto-placeholder {
    width: 100%;
    height: 200px;
    background-color: #ddd; /* nanti dganti dengan foto kandidat */
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-weight: bold;
    font-size: 20px;
    }

.nama-kandidat {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: black;
    }

.btn-pilih {
    padding: 10px 30px;
    background: #f7941d;
    color: whitesmoke;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    }

.btn-pilih:hover { 
    background: #2a1e09; 
    }

.popup {
    width: 350px;
    background: whitesmoke;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 20px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    z-index: 1000;
    }

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    }

.popup h3 {
    margin-bottom: 15px;
    color: black;
    }

#preview-kandidat {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    pointer-events: none;
    }

#preview-kandidat .card {
    box-shadow: none;
    border: 1px solid #eee;
    transform: none !important;
    padding: 10px;
    width: 100%;
    }

.flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    }

.flex-item { 
    width: 100%; 
}

.btn-popup {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

.btn-batal { 
    background: #ccc; 
    color: #2a1e09; 
}

.btn-batal:hover {
    background: #2a1e09;
    color: #f5f5f5;
}

.btn-yakin { 
    background: #924603; 
    color: #f5f5f5; 
}

.btn-yakin:hover {
    background: #2a1e09;
    color: #f5f5f5;
}

